<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>PANEL</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/offcanvas/">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!-- Bootstrap core CSS -->
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="Verification.css" rel="stylesheet">
    <link href="../../css/mainstyles.css" rel="stylesheet">
    <link rel="stylesheet" href="/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
  </head>
  <body class="bg-light">
    <div id="Loading" style="display: none;position: absolute;top: 0%;left: 0%; width: 100%;height: 100em;background-color:rgba(1, 28, 60, 0.2);z-index:1001;opacity:0.9">
      <div class="sk-folding-cube" style="position: fixed; left: 50%; top: 45%; z-index: 9999999999;display:block;opacity:1!important">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg fixed-top navbar-light" style="background-color: #e3f2fd;" aria-label="Main navigation">
        <div class="container-fluid">
          <a class="navbar-brand" href="../dashboard/dashboard.html">PANEL</a>
          <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="operadores" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="navbar-collapse operadores-collapse" id="">
            <ul id="menuaccess" class="navbar-nav me-auto mb-2 mb-lg-0">

            </ul>
      
            <ul class="nav navbar-nav navbar-right">
             <li class="dropdown">
              <div style="display: flex;">
                <h5 class="row" id="totalmoneyconvertB"></h5>
                 <a href="#" style=" margin-right: 10px; margin-left: 50px;" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                     <i class="fas fa-user"></i>
                     <strong id="userEmailsession"></strong>
                 </a>
                 <ul style="left:43%;" class="dropdown-menu">
                     <li>
                         <div class="navbar-login navbar-login-session">
                             <div class="row">
                                 <div class="col-lg-12">
                                   <br>
                                     <p>
                                         <a onclick="signOut()" href="#" class="btn btn-danger btn-block col-12 p-2">Cerrar Sesion</a>
                                     </p>
                                 </div>
                             </div>
                         </div>
                     </li>
                 </ul>
                </div>
             </li>
            </ul>
          </div>
        </div>
      </nav>
    <br>
    <br>
    <br>
    <main class="container">
        <br>
        <div class="card">
          <h6 class="card-header">Users Varification</h5>
          <div class="card-body">
              <table class="table">
                  <thead>
                    <tr>
  
                      <th scope="col">ID</th>
  
                      <th scope="col">NAME</th>
                 
                      <th scope="col">PAÍS </th>

                      <th scope="col">Foto ID</th>
           
                      <th scope="col">Foto ID 2</th>        
                      
                      <th scope="col">Verificación</th>  
                   
                    </tr>
                  </thead>
                  <tbody id="MessagesummaryWEEk">
                    
                  </tbody>
                </table>
          </div>
        </div>
        
    </main>
    <script src="../../scripts/jquery.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.6/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.6/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-auth.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../scripts/const_functions.js"></script>
    <script src="../../scripts/firebaseconfig.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>

    <script type="text/javascript" src="/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <script src="Verification.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {



       });
    </script>
  </body>
</html>
