<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>template</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/offcanvas/">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!-- Bootstrap core CSS -->
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="style.css" rel="stylesheet">
    <link href="../../css/mainstyles.css" rel="stylesheet">
  </head>
  <body class="bg-light">
    <div id="Loading" style="position: absolute;top: 0%;left: 0%; width: 100%;height: 100%;background-color:rgba(1, 28, 60, 0.1);z-index:1001;opacity:0.9">
      <div class="sk-chase" style="position: fixed; left: 45%; top: 35%; z-index: 9999999999;display:block;opacity:1!important">
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
      </div>
    </div>
<nav class="navbar navbar-expand-lg fixed-top navbar-light" style="background-color: #e3f2fd;" aria-label="Main navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SP-Cortana</a>
    <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="operadores" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse operadores-collapse" id="">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="../operadores/index.html">Home</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" href="../operadores/RegisterProfilesF.html">Create profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../operadores/CreateOperator.html">Create operator</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../operadores/moreMessagerProfile.html">Profile More</a>
          </li>
          <li id="hideM" style="display: block;" class="nav-item">
            <a class="nav-link" href="../chat/chat.html">Messagers</a>
          </li>
          <li id="hideS" style="display: block;" class="nav-item">
            <a class="nav-link" href="../stats/stats.html">Stats</a>
          </li>
        </ul>
  
        <ul class="nav navbar-nav navbar-right">
         <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                 <i class="fas fa-user"></i>
                 <strong id="userEmailsession">jeyconmorera99@gmail.com</strong>
             </a>
             <ul style="left:43%;" class="dropdown-menu">
                 <li>
                     <div class="navbar-login navbar-login-session">
                         <div class="row">
                             <div class="col-lg-12">
                               <br>
                                 <p>
                                     <a onclick="signOut()" href="#" class="btn btn-danger btn-block col-12 p-2">Cerrar Sesion</a>
                                 </p>
                             </div>
                         </div>
                     </div>
                 </li>
             </ul>
         </li>
        </ul>
      </div>
  </div>
</nav>
<br>
<br>
    <main class="container">
      <div class="d-flex align-items-center p-3 my-3 text-white bg-secondary rounded shadow-sm">
        <div class="col-3">
          <div class="lh-1">
            <h1 class="h6 mb-0 text-white lh-1">Profiles</h1>
            <span id="totalprofile"></span>
          </div>
        </div>
        <div class="col-2">
          <div class="lh-1">
            <span id="totalprofileresult"></span>
          </div>
        </div>
        <div class="col-3">
          <button onclick="deleteProfileFs()" class=" btn btn-danger "><i class="fas fa-trash-alt"></i></button>
     
        </div>
        <div class="col-4">
         
          <input class="form-control" id="myInput" type="text" placeholder="Search..">
        </div>
      </div>
      <center>
        <nav aria-label="Page navigation">
            <ul id="paginationMain" class="pagination">

            </ul>
        </nav>
      </center> 
      <div id="loadprofile" class="my-3 p-3 bg-white rounded shadow-sm">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th></th>
              <th>Image</th>

              <th>Name</th>

              <th>Age</th>
              <th>Country</th>
              <th>City</th>

              
            </tr>
          </thead>
          <tbody id="myTable">

          </tbody>
        </table>
      </div>
    </main>
    <script src="../../scripts/jquery.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.6/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.6/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-auth.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../scripts/const_functions.js"></script>
    <script src="../../scripts/firebaseconfig.js"></script>
    <script src="moreMessagerProfile.js"></script>
  </body>
</html>
